body {
    background-color: #222;
    color: #ffffff
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 0px;
    grid-column-gap: 5%;
    grid-template-rows: repeat(4, 1fr);
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    height: 90vh;
    text-align: justify;
}

.side-bar {
    grid-column: 1 / 2;
    grid-row: 1/8;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

.main-bar {
    padding-top: 10%;
    grid-column: 2 / 4;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    border-radius: 5px;
    font-size: 110%;
}

.links {
    width: 10%;
    height: auto;
}
.padding {
    height: 20%;
}
.padding_half {
    height: 10%;
}
.padding_15 {
    height: 15%;
}
.padding_small {
    height: 2.5%;
}
.padding_main {
    height: 10px;
}
#me {
    width: 50%;
    height: auto;
    border-radius: 50%;
}
#tab {
    margin-left: 2.5em
}
a {
    color: #55aaff;
    text-decoration: none;
}
a:hover {
    color: #f09228;
    text-decoration: none;
}
.link-side-bar {
    color: #ffffff;
    text-decoration: none;
}
.link-side-bar:hover { 
    color: #e09244;
    text-decoration: none;
}
#paragraph1 {
    padding-top: 5%;
}
#paragraph2 {
    padding-top: 5%;
}
footer {
    display: none;
}

@media screen and (max-width: 320px) {
    body {
        min-height: 100vh;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-column-gap: 5%;
        grid-template-rows: repeat(8, 1fr);
        font-family: 'Crete Round', serif;
        height: 200vh;
        background-color: #ffffff;
    }
    .side-bar {
        grid-column: 1 / 5;
        grid-row: 1 / 1;
        background-color: #e09244;
        color: #4d4d4c;
        text-align: center;
        border-radius: 5px;
        font-size: 80%;
        padding-bottom: 5%;
        padding-top: 5%;

    }
    #me {
        width: 25%;
        height: auto;
        border-radius: 50%;
    }
    #location {
        display: none
    }
    .links {
        display: none;
    }
    .main-bar {
        padding-top: 0%;
        grid-column: 1 / 5;
        grid-row: 2/4;
        text-align: justify;
        font-family: 'Lato', Verdana, Helvetica, sans-serif;
        border-radius: 5px;
        font-size: 100%;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    .top {
        display: none;
    }
    footer {
        grid-row: 8 / 8;
        grid-column: 1 / 5;
        display: initial;
        background-color: #e09244;
        color: #4d4d4c;
        text-align: center;
        border-radius: 5px;
        font-size: 80%;
    }
    #copyright {
        font-size: 80%;
    }
  }

@media screen and (max-width: 800px) and (min-width: 321px) {
    body {
        min-height: 100vh;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-column-gap: 5%;
        grid-template-rows: repeat(8, 1fr);
        font-family: 'Crete Round', serif;
        height: 160vh;
        
    }
    .side-bar {
        grid-column: 1 / 5;
        grid-row: 1 / 1;
        background-color: #e09244;
        color: #4d4d4c;
        text-align: center;
        border-radius: 5px;
        font-size: 80%;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    #me {
        width: 25%;
        height: auto;
        border-radius: 50%;
    }
    #location {
        display: none
    }
    .links {
        display: none;
    }
    .main-bar {
        padding-top: 0%;
        grid-column: 1 / 5;
        grid-row: 2/4;
        text-align: justify;
        font-family: 'Lato', Verdana, Helvetica, sans-serif;
        border-radius: 5px;
        font-size: 100%;
    }
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    .top {
        display: none;
    }
    footer {
        padding-top: 5%;
        grid-row: 8 / 8;
        grid-column: 1 / 5;
        display: initial;
        color: #4d4d4c;
        text-align: center;
        border-radius: 5px;
        font-size: 80%;
    }
    #copyright {
        font-size: 80%;
    }
  }
  canvas {
    display:block;
    position: fixed;
    z-index: -1;
}